.group {
	background: #335;
	width: 180px;
	margin: 0 auto 20px;
	display: grid;
	grid-template-columns: 100px 80px;
	border-radius: 12px;
}

input,
select {
	background: #335;
	border: 0;
	color: #fff;
}

input {
	padding-left: 15px;
}

select {
	padding: 15px;
}